PORT=3001
APP_URL=http://localhost:3001

DB_HOST=localhost
DB_PORT=3306
DB_USER=profileuser
DB_PASSWORD=Profile12345
DB_NAME=profilematch_magneto

JWT_SECRET=sara_proyecto_magneto_seguro_2026
JWT_EXPIRES_IN=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=profilematch83@gmail.com
EMAIL_PASS=TU_CONTRASENA_DE_APLICACION_DE_GMAIL
EMAIL_FROM="Profile Manager Magneto <profilematch83@gmail.com>"
COMPANY_EMAIL=profilematch83@gmail.com
